<div id="index">
    <nav-bar></nav-bar>
    <div class="container">
        <router-view></router-view>
    </div>
    {{message}}
</div>

<%= javascript_pack_tag 'index' %>

<h1>Web#index</h1>
<p>Find me in app/views/web/index.html.erb</p>
